@charset "UTF-8";
/*ASCIIMath Editor | © 2017 Francesco Menzani – asciimatheditor@menzani.eu | https://www.gnu.org/licenses/agpl-3.0.txt*/

body {
    text-align: center;
}

#button {
    margin: 16px;
}

#showcase-video {
    margin-right: 0;
}

#showcase-video-player {
    width: 850px;
    height: 650px;
}