@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
	margin: 0px;
}

div.checkbox > label {
	vertical-align: top;
}

#browserWarning {
	width: 100%;
	height: 40px;
	background-color: #0C090A;
	top: 0px;
}

#browserWarning > p {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

#browserWarning > p > a:link {
	color: white;
}

#browserWarning > p > a:visited {
	color: white;
}

#reference {
	width: 500px;
	height: 98%;
	left: 30px;
	top: 2px;
	overflow: hidden;
}

#referenceFrame {
	width: 516px;
	height: 100%;
	border: none;
}

#presentation {
	margin: 2px auto;
	left: 0px;
	right: 0px;
	width: 350px;
	padding: 10px;
}

#presentation > p {
	margin: 0px;
}

#presentationDownload {
	margin: 20px auto 5px auto;
	left: 0px;
	right: 0px;
	width: 150px;
	height: 40px;
}

#presentationClose {
	font-size: 13px;
	text-align: center;
}

#presentationClose > a:link {
	color: #0C090A;
}

#presentationClose > a:visited {
	color: #0C090A;
}

#debug {
	width: 450px;
	right: 45px;
	top: 2px;
	padding: 10px;
}

#debugInfo {
	border: 1px solid gray;
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
	height: 300px;
	overflow: auto;
	font-family: "Lucida Console", Monaco, monospace;
}

#debug > div.checkbox {
	margin-right: 10px;
	float: left;
}

#debug > input {
	margin-top: 5px;
	height: 25px;
}

#commands {
	width: 200px;
	right: 2px;
	top: 150px;
	padding: 10px 5px 10px 5px;
}

#commands > fieldset > p {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.workspaceLayer {
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
}

.workspaceLayerAnimation {
	animation: 3s ease-out workspaceLayer;
	animation-fill-mode: forwards;
}

.card {
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
	font-family: Bitter, Tahoma, sans-serif;
	position: fixed;
}

.popup {
	visibility: hidden;
	z-index: 1;
	transform-origin: top;
}

.popupAppearAnimation {
	animation: 0.3s popupAppear;
	animation-fill-mode: both;
}

.popupDisappearAnimation {
	animation: 0.1s popupDisappear;
	animation-fill-mode: both;
}

@keyframes workspaceLayer {
	from {
		filter: opacity(0%) blur(10px);
	}
	to {
		visibility: visible;
	}
}

@keyframes popupAppear {
	from {
		transform: rotate3d(1, 0, 0, 90deg);
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}

@keyframes popupDisappear {
	from {
		visibility: visible;
	}
	to {
		transform: rotate3d(1, 0, 0, 90deg);
		visibility: hidden;
	}
}