@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
	margin: 0px;
	background-image: linear-gradient(to top, rgba(30, 144, 255, 0), rgba(30, 144, 255, 1));
    background-attachment: fixed;
}

#message {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: none;
}

#message > a:link {
	color: white;
}

#message > a:visited {
	color: white;
}

#debug {
	width: 450px;
	height: 250px;
	left: 50px;
	top: 100px;
}

#debugInfo {
	font-family: "Lucida Console", Monaco, monospace;
}

#debugVerbose {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

#debugReset {
	position: absolute;
	width: 125px;
	height: 25px;
	bottom: 10px;
	right: 10px;
}

#presentation {
	width: 350px;
	height: 350px;
}

#presentationDownload {
	position: absolute;
	bottom: 20px;
	left: 108px;
	width: 150px;
	height: 40px;
}

#commands {
	width: 200px;
	height: 500px;
	right: 2px;
	top: 150px;
}

.workspaceLayer {
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
}

.workspaceLayerAnimation {
	animation: 3s ease-out workspaceLayer;
	animation-fill-mode: forwards;
}

.card {
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
	font-family: Bitter, Tahoma, sans-serif;
	position: fixed;
	padding: 10px;
}

.menu > p {
	margin: 0px;
}

.popup {
	visibility: hidden;
	transform-origin: top;
	z-index: 1;
}

.popupAnimation {
	animation: 0.1s popup;
	animation-fill-mode: forwards;
}

@keyframes workspaceLayer {
	from {
		filter: opacity(0%) blur(10px);
	}
	to {
		visibility: visible;
	}
}

@keyframes popup {
	to {
		transform: rotate3d(1, 0, 0, 20deg);
		visibility: hidden;
	}
}