@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
	margin: 0px;
    background-attachment: fixed;
}

#message {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: none;
}

#message > a:link {
	color: white;
}

#message > a:visited {
	color: white;
}

#debug {
	width: 450px;
	left: 40px;
	top: 2px;
}

#debugInfo {
	height: 300px;
	overflow: auto;
	font-family: "Lucida Console", Monaco, monospace;
}

#debugVerbose {
	float: left;
}

#debugVerboseCheckbox {
	vertical-align: middle;
}

#debugVerboseLabel {
	vertical-align: middle;
}

#debugReset {
	float: right;
	width: 125px;
	height: 25px;
}

#presentation {
	margin: 2px auto;
	left: 0px;
	right: 0px;
	width: 350px;
}

#presentationDownload {
	margin: 20px auto;
	left: 0px;
	right: 0px;
	width: 150px;
	height: 40px;
}

#reference {
	width: 500px;
	height: 95%;
	right: 20px;
	top: 2px;
	padding: 0px;
	overflow: hidden;
}

#referenceFrame {
	width: 516px;
	height: 100%;
	border: none;
}

#commands {
	width: 200px;
	height: 500px;
	right: 2px;
	top: 150px;
}

.workspaceLayer {
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
}

.workspaceLayerAnimation {
	animation: 3s ease-out workspaceLayer;
	animation-fill-mode: forwards;
}

.card {
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
	font-family: Bitter, Tahoma, sans-serif;
	position: fixed;
	padding: 10px;
}

.menu > p {
	margin: 0px;
}

.popup {
	visibility: hidden;
	z-index: 1;
	transform-origin: top;
}

.popupAppearAnimation {
	animation: 1s popupAppear;
	animation-fill-mode: both;
}

.popupDisappearAnimation {
	animation: 0.1s popupDisappear;
	animation-fill-mode: both;
}

@keyframes workspaceLayer {
	from {
		filter: opacity(0%) blur(10px);
	}
	to {
		visibility: visible;
	}
}

@keyframes popupAppear {
	from {
		visibility: hidden;
		transform: translateY(30px);
	}
	to {
		visibility: visible;
	}
}

@keyframes popupDisappear {
	from {
		visibility: visible;
	}
	to {
		transform: rotate3d(1, 0, 0, 20deg);
		visibility: hidden;
	}
}